<mat-card>
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput required name="name" [formControl]="nameFC">
          <mat-error *ngIf="nameFC.hasError('required')">
            The name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Contact Type</mat-label>
          <mat-select name="contact_type" [(value)]="contact.contact_type">
            <mat-option value="1">Contact type 1</mat-option>
            <mat-option value="2">Contact type 2</mat-option>
            <mat-option value="3">Contact type 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Phone</mat-label>
          <input matInput name="phone" [formControl]="phoneFC" >
          <mat-error *ngIf="phoneFC.hasError('pattern')">
            Incorrect <strong>phone number</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Birth Date</mat-label>
          <input matInput [max]="maxDate" [matDatepicker]="picker" [formControl]="birthdateFC">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="birthdateFC.hasError('required')">
            The Birth Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p class="editor">
        <ckeditor id="description-editor" tagName="textarea" name="description"  [(ngModel)]="contact.description" [editor]="Editor" [data]="contact.description"></ckeditor>
      </p>
      <p>
        <button mat-raised-button color="primary" (click)="save()">Update</button>
        <button mat-raised-button type="button" [routerLink]="['/contacts']">Back to List</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
